Repository unjs/unstorage, pull requests merged in 2023-07, with the labels that each got.

#259 test: add test for `github` driver
  test/drivers/github.test.ts
Labels: test, github, ready

#240 feat: experimental operation batching
  docs/content/2.usage.md
  src/drivers/http.ts
  src/storage.ts
  src/types.ts
  test/drivers/redis.test.ts
  test/drivers/utils.ts
Labels: enhancement, cloudflare, ready

#235 feat: `cloudflare-r2-binding` driver
  docs/content/6.drivers/cloudflare-r2-binding.md
  package.json
  pnpm-lock.yaml
  src/drivers/cloudflare-r2-binding.ts
  test/drivers/cloudflare-r2-binding.test.ts
Labels: driver, cloudflare

#272 fix(cloudflare-r2-binding): get binding for r2 `getMeta`
  src/drivers/cloudflare-r2-binding.ts
Labels: driver, cloudflare
