Repository unjs/unstorage, pull requests merged in 2023-08, with the labels that each got.

#273 feat: expose `BuiltinDriverOptions` type
  src/index.ts
Labels: enhancement

#269 feat(vercel-kv): support `ttl` for `setItem`
  docs/content/6.drivers/vercel-kv.md
  src/drivers/vercel-kv.ts
Labels: enhancement, ready, vercel-kv, ttl

#221 feat: add `indexedb` driver
  docs/content/6.drivers/indexedb.md
  package.json
  pnpm-lock.yaml
  src/drivers/indexedb.ts
  src/index.ts
  test/drivers/indexedb.test.ts
Labels: driver, ready
