Repository unjs/unstorage, pull requests merged in 2024-12, with the labels that each got.

#500 feat: add `upstash` driver
  .env.example
  .gitignore
  docs/2.drivers/upstash.md
  src/drivers/upstash.ts
  src/index.ts
  test/drivers/upstash.test.ts
Labels: driver

#233 feat: add `deno-kv` driver
  .github/workflows/ci.yml
  docs/2.drivers/deno.md
  package.json
  pnpm-lock.yaml
  src/drivers/deno-kv.ts
  test/drivers/deno-kv.fixture.ts
  test/drivers/deno-kv.test.ts
  tsconfig.json
Labels: driver, deno, ready

#361 feat: `s3` driver
  docs/2.drivers/s3.md
  package.json
  pnpm-lock.yaml
  src/_drivers.ts
  src/drivers/s3.ts
  test/drivers/s3.test.ts
  vite.config.ts
Labels: driver

#390 feat: add uploadthing driver
  .env.example
  .github/workflows/ci.yml
  docs/2.drivers/uploadthing.md
  package.json
  pnpm-lock.yaml
  src/_drivers.ts
  src/drivers/uploadthing.ts
  test/drivers/uploadthing.test.ts
Labels: driver

#543 fix(types): allow passing generic to untyped storage
  src/types.ts
  test/storage.test-d.ts
Labels: bug
